html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/* main{
  background:#bdc3c7 ;
} */
.mainstage{
  /* background-color:#ecf0f1 ; */
  /* margin-top: -15px; */
}
.container {
  max-width: 960px;
  /* background:#bdc3c7 ; */
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
.login{
  margin-left: 30px;
}
.login a:first-child{
  font-size: 1.05em;
  /* border: 1px solid #bdc3c7 ; */
  border: none;
  color: #ecf0f1 ;
  /* background:#ecf0f1 ; */
  /* opacity: 0.5; */
}
.login a:last-child{
  font-size: 1.02em;
  border: 1px solid #bdc3c7 ;
  color: #ecf0f1 ;
}


.logout{
  margin-left: 30px; 
}
.logout a:first-child{
  font-size: 1.05em;
  /* border: 1px solid #bdc3c7 ; */
  border: none;
  color: #ecf0f1 ;
  font-weight: 800;
  /* background:#ecf0f1 ; */
  /* opacity: 0.5; */
}
.logout a:last-child{
  font-size: 1.02em;
  border: 1px solid #bdc3c7 ;
  color: #95a5a6 ;
}



.disno{
  display: none;
}
